html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  /* background-color: #000; */
  /* height: 100vh; */
}

body {
  /* font-size: 62.5%; */
  font-size: 1.6em;
  height: 100vh;
  max-width: 100vw;
  /* background: #000; */
}

.left-container .right-container {
  height: 100%;
  width: 100%;
}

.left-section {
  background-color: #2be1e47c;
  border-radius: 10px;
  position: absolute;
  top: 5%;
  bottom: 5%;
  left: 2%;
  right: 2%;
  width: 96%;
  height: 90%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.right-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 2%;
  bottom: 2%;
  left: 4%;
  right: 6%;
  width: 90%;
  height: 96%;
  background-color: #e4e6e5;
}

.full-width-row {
  overflow-x: hidden; /* เหมืนอนไม่ได้ใช้ใน addUser */
  /* overflow-y: hidden; */
}

.full-width-row > div {
  margin-left: -15px;
  margin-right: -15px;
  height: 100vh;
}

.background-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(https://s359.kapook.com/pagebuilder/cca8745a-4387-46c4-a377-22e348f93cdd.jpg);
  /* url("../public/logo192.png"); */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100%;
}

.image-logo {
  width: 150px;
  height: 200px;
  margin-bottom: 3%;
}

.username-field {
  display: flex;
  margin-top: 5%;
  margin-bottom: 2%;
}

.password-field {
  display: flex;
  margin-top: 2%;
  margin-bottom: 12%;
}

.news {
  display: flex;
}

.news-head {
  margin-top: 13px;
  margin-left: 6px;
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
}

.alert-login {
  font-size: 1.5rem;
  font-family: "Kanit", sans-serif;
  width: 70%;
  text-align: center;
}

.btn-login {
  width: 100%;
}

/* /////////////////////////////////////////////////////
 *****************Admin Screen
 ///////////////////////////////////////////////////// */

/* ******************** Sidebar admin page ****************** */

.img-ku-small {
  /* width: 7%;
  height: 7%; */
  width: 55px;
  height: 45px;
  margin-right: 14px;
}

.background-tableuser {
  /* background: #c1c9c5; */
  background-color: rgba(255, 255, 255, 0.397);
  box-shadow: 0px 0px 7px 0px rgba(10, 10, 10, 0.178);
  width: 100%;
  height: 100% inherit;
  margin-left: -5px;
  padding: 30px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  /*border: 2px solid #34495e;
  */ /*box-shadow: 0px 0px 10px 0px rgba(10, 10, 10, 0.404);
  */
  margin-top: 10px;
  margin-bottom: 70px;
}

.welcome-name {
  color: #e4e6e5;
  font-size: 1.8rem;
  font-family: "Prompt";
  font-weight: 200;
  margin-top: 6px;
  margin-left: 5px;
}

.welcome-admin {
  margin-right: 5px;
  color: #03a96b;
  font-size: 2.5rem;
  font-family: "Prompt";
  font-weight: 500;
  letter-spacing: 1px;
}

/* .head-nav-admin {
  background-color: #2af85d96;
  border-radius: 3px;
  box-shadow: 0px 0px 5px 0px rgba(10, 10, 10, 0.384);
  cursor: pointer;
  height: 50%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
} */

.head-nav-admin {
  /* background-color: #07e63f96; */
  /* background-color: #03a96b; */
  background: -webkit-linear-gradient(bottom, #026641, #19c988);
  /* border: 1px solid #89928f42; */
  color: #e4e6e5;
  border-radius: 3px;
  /* box-shadow: 0px 0px 5px 0px rgba(10, 10, 10, 0.384); */
  /* cursor: pointer; */
  height: 50%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  padding: 3px;
}

.function-header {
  /*background-color: #e7f3ef31;
  */
  background-color: #2f3337da;

  /*background-color: #03a96b;
  */ /*background: -webkit-linear-gradient(bottom, #313438, #2f3337c9);
  */
  box-shadow: 0px 0px 10px 0px rgba(10, 10, 10, 0.719);
  /*border: 2px solid #2f3337;
  */
  height: 71px;
}

#word-in-list {
  color: #000;
  font-size: 16px;
  font-family: "Prompt";
  font-weight: 300;
}

#word-in-list:hover {
  /* color: #2f3337; */
  font-weight: 500;
}

#listt {
  /* background-color: #03a96b; */
  /* background-color: #fff; */
  height: 100vh;
  padding-top: 0px;
  padding-bottom: 0px;
}

#icon-in-list {
  font-size: 25px;
  color: #000;
  position: relative;
  left: 12px;
}

/* #adduser-top {
  padding-top: 30px;
} */

#mix-function {
  padding: 15px 18px 12px 18px;
  /* background-color: #03a96b; */
  /* background-color: #fff; */
}
#mix-function:hover {
  /* background-color: #2f333731; */
  background-color: #03a96c8e;
}

.navbar-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 12px;
  box-shadow: 0px 0px 5px 0px rgba(10, 10, 10, 0.384);
  /* font-size: 0.5rem; */
}

.head-admin-welcome {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .left-close-open {
  display: flex;
}

.img-left {
  margin-top: 1%;
  margin-right: 5%;
  height: 5%;
  width: 20%;
} */

/* ******************** Data TableUser ****************** */

.tableuser-page {
  margin: 5% 3% 3% 3%; /* ปรับไปแค่บนล่าง*/
  background-color: "#E4E6E5";
  height: 100%;
  max-height: 100vh;

  /* width: 100vw; */
  /* min-height: 100vh; */
}

/* .row {
  height: 100vh;
} */

.tableuser-page-in {
  /* margin: 0% 3% 0% 3%;
  background-color: "#E4E6E5";
  max-height: 100%; */

  min-height: 100vh;
  font-size: 1.6rem;
  text-align: center;
}

.header-table-description {
  font-size: 2.3rem;
  font-weight: 400;
  font-family: "kanit";
  margin-bottom: 2%;
  margin-left: 2%;
}

.table-user {
  font-size: 1.6rem;
  text-align: center;
  /* margin: 30px 30px 30px 30px; */
  /* margin-right: 3%; */
  /* margin: 3% 3% 3% 3%; */
  /* border: 2px solid #000; */
}

/* thead {
  font-size: 0.8em;
} */

th {
  font-weight: 500;
  font-family: "Prompt";
  font-size: 1.6rem;
}

.role-in-table {
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  /* width: 80px; */
  padding: 2.5px 0px 2.5px 0px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  color: #000;
}

.intable-user {
  background-color: #23a11794;
}

.intable-admin {
  background-color: #99460183;
}

.intable-exe {
  background-color: #8da4c2a6;
}

.intable-null {
  background-color: #315fb6;
}

#icon-in-table-status-1 {
  font-size: 2rem;
  --ionicon-stroke-width: 70px;
  color: #03a948;
}

#icon-in-table-status-0 {
  font-size: 2rem;
  --ionicon-stroke-width: 60px;
  color: red;
}

table {
  /* width: 1000px; */
}

#headd {
  background-color: red;
}

.drop-btn {
  font-size: 2.5rem;
  font-weight: 800;
  letter-spacing: 1px;
}

/* .back-drop {
  width: 120px;
  height: 50px;
} */

#btn-editt,
#btn-dell {
  font-family: "Prompt";
  font-size: 1.5rem;
  background-color: #fff;
}

#btn-editt:hover,
#btn-dell:hover {
  background-color: #03a96c8f;
}

tbody td {
  font-family: "Prompt";
  font-weight: 300;
  font-size: 1.5rem;
}

/* tbody th {
  background-color: #026641;
} */

.btn-table-head {
  background-color: #03a96cd3;
  color: #fff;
  font-weight: 500;
}

.btn-table {
  background-color: #03a96c00;
}

.head-table-column {
  font-family: "Prompt";
  text-align: center;
  font-size: 1.4em;
  /* สีที่หัว */
  /* background-color: #03a96c57; */
  background-color: #03a96c23;
  /* border-right: 1px solid #000; */
}

tr:nth-child(even) {
  /* background-color: #f2f2f2; */
  background-color: rgba(255, 255, 255, 0.082);
}

.customers {
  font-family: "Prompt", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.customers td,
.customers th {
  border: 1px solid rgb(156, 132, 132);
  padding: 8px;
}

.customers tr:nth-child(even) {
  /* background-color: #f2f2f2; */
  background-color: #aa2323;
}

.customers tr:hover {
  /* background-color: #ddd; */
  background-color: rgb(10, 184, 82);
}

.customers Th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4caf4f;
  color: white;
}

td {
  font-weight: 100;
}
/***** Wrapper *****/

.wrapper {
  display: block;
}

.tableuser-header {
  display: flex;
  justify-content: center;
  margin-bottom: 0.8%;
  background-color: #4caf4f10;
  background: -webkit-linear-gradient(
    bottom,
    rgba(255, 0, 0, 0),
    rgba(154, 163, 19, 0.356)
  );
  border-radius: 2px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  /* width: 100vw; */
}
/* 
.tableuser-head {
  font-size: 3rem;
  font-weight: 400;
  font-family: "kanit";
  margin-bottom: 5%;
  margin-top: 4.5%;
  text-align: center;
} */

/******************************************************************************
////////////////////////////// ADD USER PAGE
******************************************************************************/

.background-adduser {
  /* background: #c1c9c5; */
  background-color: rgba(255, 255, 255, 0.397);
  box-shadow: 0px 0px 7px 0px rgba(10, 10, 10, 0.178);
  width: 100%;
  height: 100% inherit;
  margin-left: -5px;
  padding: 30px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  /*border: 2px solid #34495e;
  */ /*box-shadow: 0px 0px 10px 0px rgba(10, 10, 10, 0.404);
  */
  margin-bottom: 70px;
  /* margin-top: 20px; */
}

.pageAddUser {
  /* margin-top: 2.5%;
  background-color: "#e4e6e5";
  padding-right: 0;
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0;
  background-color: "#e4e6e5";
  max-width: 100vh; */

  /* margin-top: 2.5%; */
  margin-top: 70px;
  background-color: "#e4e6e5";
  padding-right: 0;
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0;
  background-color: "#e4e6e5";
  /* height: 100vh; */
  max-height: 100vh;
}

#input-field-adduser {
  background-color: #e4e6e573;
  font-size: 1.5rem;
  font-family: "Prompt";
  font-weight: 300;
  height: 48px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  padding-left: 20px;
}

#input-field-adduser:hover {
  /* color: #000; */
}

.adduser-header {
  display: flex;
  justify-content: center;
  /* margin-bottom: 1.2%; */
  /* width: 100%; */
  /* background-color: #4caf4f10; */
  border-radius: 2px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  /* border: 1px solid #03a96b; */
}

.adduser-head {
  font-size: 3.5rem;
  font-weight: 800;
  font-family: "Prompt";
  /* margin-bottom: 5%;
  margin-top: 4.5%; */
  margin-top: 30px;
  margin-bottom: 35px;
  text-align: center;
  letter-spacing: 1px;
}

.adduser-head-table {
  font-size: 3.5rem;
  font-weight: 800;
  font-family: "Prompt";
  margin-top: 10px;
  margin-bottom: 35px;
  text-align: center;
  letter-spacing: 1px;
}

.filed-input-adduser {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  margin-bottom: 3%;
}

.div-alert {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
  width: 100%;
}

.filed-input-adduser-alert {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 60%;
  height: 40px;
  margin-bottom: 3%;
  background-color: #000;
  font-size: 1.6rem;
  font-family: "Prompt";
  font-weight: 400;
  /* position: relative; */
}

.field-description-input {
  font-family: "Prompt";
  font-size: 1.6rem;
  font-weight: 500;
  width: 100%;
  color: #03a96b;
  /* margin-left: 7%; */
}

.error-helptext {
  font-family: "Prompt";
  font-size: 1.1rem;
  font-weight: 500;
  color: red;
}

#btnSuccess {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Prompt";
  color: #fff;
  font-size: 2.1rem;
  font-weight: 500;
  width: 100%;
  height: 80%;
  margin-top: 2%;
  margin-bottom: 2%;
  /* background: -webkit-linear-gradient(bottom, #8da4c2dc, #8da4c29f); */
  /* background-color: #f0906d; */
  background-color: #2f333775;
  border-radius: 35px;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  -ms-border-radius: 35px;
  -o-border-radius: 35px;
  border: 0px;
}

#btnSuccess:hover {
  /* background-color: #ec5720; */
  background-color: #2f3337e5;
  /* background-color: #8da4c281; */
  /* color: #fff; */
}

.formgroup {
  margin-bottom: 20%;
}

/* #form-big {
  width: 100%;
} */

.name-and-phone {
  display: flex;
  justify-content: space-between;
  /* width: 100%; */
}

.username-and-password {
  display: flex;
  justify-content: space-between;
}

.role-and-role {
  display: flex;
  /* justify-content: space-between; */
}

.role-description {
  width: 50%;
}

#rolee {
  width: 40%;
}

.role-option {
  width: 60%;
  display: flex;
  align-items: center;
  position: relative;
  left: 25px;
  /* text-align: center; */
}

.role-option-in {
  display: flex;
  justify-content: center;
}

.label-in-role {
  font-family: "Prompt";
  font-size: 1.4rem;
  font-weight: 500;
  width: 100px;
  height: 30px;
  background-color: #03a96cad;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  color: #fff;
}

.adminSelect,
.userSelect,
.exeSelect {
  background-color: #8da4c2d3;
  color: #000;
}

#inName {
  width: 65%;
  margin-right: 10px;
}

#inPhone {
  width: 35%;
}

#inUsername {
  width: 50%;
  margin-right: 10px;
}

#inPassword {
  width: 50%;
}

.name {
  width: 100%;
  /* margin-top: 5px; */
}

.phone {
  width: 100%;
  /* width: 280px; */
}

.role {
  width: 100%;
}

.agency {
  width: 100%;
}

.username,
.password {
  width: 100%;
}

.btn-submit {
  margin-top: 8%;
  width: 45%;
  /* height: 50%; */
}

.img-right {
  width: 100%;
  height: 85%;
  margin-top: 5%;
  border-radius: 6px;
  opacity: 0.6;
}

/* .left-adduser-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
} */

/* #icon-adduser {
  margin-top: 16px;
  color: #000;
} */

.alert-register {
  font-size: 1.5rem;
  font-family: "Kanit", sans-serif;
  /* width: 70%; */
  /* text-align: center;
  justify-content: center; */
}

/* ion-icon {
  margin-top: 3.8%;
  margin-right: 10px;
  font-size: 4.5rem;
} */

.alert-adduser {
  font-family: "Prompt";
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
  width: 100%;
  /* height: 100%; */
  display: flex;
  justify-content: center;
  letter-spacing: 1px;
  margin-bottom: 26px;
  /* margin-top: -16px; */
}

.in-alert-adduser {
  width: 400px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dangerr {
  border: 0px solid red;
  background-color: rgba(248, 0, 0, 0.164);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.successs {
  border: 0px solid #03a948;
  background-color: #03a91f49;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

#success-icon {
  margin-right: 1px;
  margin-top: -1px;
  color: #03a948;
  font-size: 4.5rem;
}

#warning-icon {
  margin-right: 1px;
  margin-top: -1px;
  color: rgba(248, 0, 0, 0.767);
  font-size: 4.5rem;
}

/******************************************************************************
////////////////////////////// EDIT MODAL
******************************************************************************/
.field-description-input-edit {
  font-family: "kanit";
  font-size: 1.7rem;
  width: 30%;
  margin-left: 7%;
  /* background-color:#e4e6e5c2; */
}

/* modal::before,
.edit-modal-in::before {
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
} */

/* .name-top-edit {
  margin-top: 1%;
} */

/* .edit-modal {
  position: relative;
}
.edit-modal-in {
  z-index: 10000;
} */

.adduser-header-edit-modal {
  display: flex;
  justify-content: center;
  margin-bottom: 1.2%;
  background-color: #4caf4f10;
  background: -webkit-linear-gradient(
    top,
    rgba(255, 0, 0, 0),
    rgba(49, 49, 49, 0.712)
  );
  border-radius: 2px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

.adduser-head-edit-modal {
  font-size: 3rem;
  font-weight: 400;
  font-family: "kanit";
  margin-bottom: 5%;
  margin-top: 4.5%;
  text-align: center;
}

/* ในฟอร์มใช้คลาสไม่ได้ */
/* .form-modal-big {
  margin-bottom: 20;
}

#form-modal-big-id {
  margin-bottom: 20;
} */

/* .form-container {
  background-color: "#fff";
  padding: 30px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #000;
} */

input[type="checkbox"] {
  position: relative;
  width: 70px;
  height: 25px;
  background: #bdc3c7;
  -webkit-appearance: none;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  outline: none;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  box-shadow: inset 0 5px rgba(0, 0, 0, 0.2);
}

input:checked[type="checkbox"] {
  background: #3498db;
}
/* สร้างวงกลม */
input[type="checkbox"]::before {
  z-index: 2;
  position: absolute;
  content: "";
  left: 0;
  width: 26px;
  height: 26px;
  background-color: #000;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
/* ให้วงกลมเลื่อนไปขวา */
input:checked[type="checkbox"]::before {
  left: 44px;
}

.toggle {
  position: relative;
  display: inline;
  margin-left: 10%;
}

.labell {
  position: absolute;
  color: #fff;
  font-family: "kanit";
  font-weight: 500;
  font-size: 1.2rem;
  pointer-events: none;
}

.onbtn {
  bottom: 1.5px;
  left: 9px;
}

.ofbtn {
  bottom: 1.5px;
  right: 7px;
  color: #34495e;
}

/* ********************************************************************** */
/*/////////        Navbar Userpage         ////////////////*/
/* ********************************************************************** */

.header-nav-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;
  -o-transition: 0.6s;
  padding: 40px 100px;
  z-index: 1000;
  height: 50px;
  background: #006765;
}

header .logo {
  position: "relative";
  font-weight: 500;
  font-family: "kanit";
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.6s;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;
  -o-transition: 0.6s;
}

.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  background: yellow;
  margin-top: 80px;
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.096), rgba(0, 0, 0, 0.4)),
    url(https://eskipaper.com/images/black-background-images-3.jpg);
  background-size: cover; */
}

.bgx {
  min-height: 200vh;
  min-width: 100%;
}

.hhh {
  height: 50%;
}

.nav-user {
  display: flex;
  justify-content: space-around;
}

.navbar-custom {
  /* max-width: 100%; */
  height: 80px;
  /* background-color: "#2f3337"; */
  background-color: #2f3337;
  /* background-color: #006765; */
  transition: box-shadow 0.5s;
  box-shadow: 0px 0px 10px 0px #000;
  /* -webkit-transition: box-shadow 0.5s;
  -moz-transition: box-shadow 0.5s;
  -ms-transition: box-shadow 0.5s;
  -o-transition: box-shadow 0.5s; */
  /* display: inline; */
  /* width: 100vw; */
  /* display: flex;
  justify-content: space-around; */
}

.brand {
  margin-left: 3%;
}

.logout-user {
  display: flex;
  margin-right: 20px;
}

.head-userpage {
  display: flex;
}

.logo-ku-userpage {
  margin-left: 6px;
  cursor: pointer;
}

.logo-ku-userpage:hover {
  margin-top: 5px;
  cursor: pointer;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

.goadminword {
  color: "#E4E6E5";
  padding-right: 11px;
  padding-left: 11px;
  /* color: rgba(222, 237, 238, 0.719) */
  justify-content: "center";
  font-family: "Prompt";
  font-size: 1.4rem;
  color: "rgba(222, 237, 238, 0.998)";
  font-weight: 400;
  letter-spacing: 1px;
}

.goadminword-admin {
  color: "#fff";
  padding-right: 8px;
  padding-left: 8px;
  width: 110px;
  /* color: rgba(222, 237, 238, 0.719) */
  justify-content: "center";
  font-family: "Prompt";
  font-size: 1.4rem;
  color: "rgba(222, 237, 238, 0.998)";
  font-weight: 400;
  letter-spacing: 1.4px;
  text-align: center;
}

.backlogout:hover {
  /* box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.404); */
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  margin-top: 3px;
  background-color: #0b9764;
}

.backlogout {
  /*background-color: #0badab46;
  */
  /* background: -webkit-linear-gradient(bottom, #04945f, #15a872); */
  /* background-color: #03a96c; */
  border: 1px solid #03a96c;
  border-radius: 6px;
  box-shadow: 0px 0px 10px 0px rgba(58, 59, 59, 0.425);
  padding: 2px 0 2px 0;
  cursor: pointer;
  height: 75%;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.head-nav-user {
  /* background-color: #07e63f96; */
  /* background-color: #03a96b; */
  background: -webkit-linear-gradient(bottom, #026641, #19c988);
  /* border: 1px solid #89928f42; */
  color: #e4e6e5;
  border-radius: 3px;
  /* box-shadow: 0px 0px 5px 0px rgba(10, 10, 10, 0.384); */
  /* cursor: pointer; */
  height: 65%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

/* .head-nav-user:hover {
  box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.404);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  margin-top: 3px;
  background-color: #0f9e9ca4;
} */

.admin-word-nav-user {
  display: flex;
  align-items: center;
  margin-left: 9px;
  margin-top: 2px;
}

.goadminword-user {
  /* color: "#fff"; */
  padding-right: 11px;
  padding-left: 11px;
  /* color: rgba(222, 237, 238, 0.719) */
  justify-content: "center";
  font-family: "kanit";
  font-size: 1rem;
  color: "rgba(222, 237, 238, 0.998)";
  font-weight: 400;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  /* background-color: #03a96b; */
}

.backAdmin {
  /* background-color: rgba(255, 255, 255, 0.493); */
  background-color: #2f333786;
  /* background: -webkit-linear-gradient(bottom, #04945f, #15a872); */
  /*box-shadow: 0px 0px 10px 0px rgba(58, 59, 59, 0.425);
  */
  border: 1px solid #03a96b;

  cursor: pointer;
  height: 50%;
  /* padding: 5px; */
  /*margin-left: 8px;
  */
  position: relative;
  left: 15px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.backAdmin:hover {
  /*box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.404);
  */
  transition: 0.1s;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -ms-transition: 0.1s;
  -o-transition: 0.1s;
  margin-top: 3px;
  /*background-color: #0f9e9ca4;
  */
  /* background-color: #03a96b; */
  background: -webkit-linear-gradient(bottom, #03a96b, #16ce8a93);
}

#home {
  color: rgba(0, 0, 0, 0.377);
  font-size: 2rem;
  position: relative;
  left: 7px;
  top: -2px;
}

.logo-logout-navbar:hover {
  position: relative;
  left: 3px;
}

.user-welcomee {
  color: #03a96b;
  font-size: 2.5rem;
  font-family: "Prompt";
  font-weight: 500;
  letter-spacing: 1px;
}

.user-welcomee-name {
  color: #fff;
  font-size: 1.9rem;
  font-family: "Prompt";
  font-weight: 200;
  margin-top: 6px;
  margin-left: 9px;
}

.left-head-userpage {
  display: flex;
  justify-content: flex-end;
}

.p-logout {
  font-family: "Prompt";
  font-weight: 200;
  font-size: 2rem;
  color: #fff;
  margin-right: 10px;
}

.p-logout:hover {
  transition: 0.2s;
  color: #e4e6e5;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

/* .process-round {
  background-color: yellowgreen;
  height: 300px;
  margin-top: 50px;
} */

.userscreen {
  min-height: 100vh;
  /* margin-top: 20px; */
}

/* *************************************************************************************
**************************************** PROCESS USER PAGE
*************************************************************************************/
.process-round {
  display: flex;
  margin-top: 20px;
  /* align-items: center; */
  /* margin-bottom: 10px; */
  /* box-shadow: 0px 0px 10px 0px rgba(10, 10, 10, 0.404); */
}

/* .process-round:hover {
  position: relative;
  left: 10px;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
} */

.card-number {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100% inherit;
  background-color: #2f33374d;
  width: 12%;
  font-size: 4.4rem;
  font-weight: 400;
  border-left: 7px solid #535554;
  padding-left: 15px;
  padding-right: 15px;
  font-family: "Prompt";
  color: #2f3337;
}

/* .card-number:hover {
  background-color: #8eaabd2d;
  cursor: pointer;
  transition: background-color 0.4s;
  -webkit-transition: background-color 0.4s;
  -moz-transition: background-color 0.4s;
  -ms-transition: background-color 0.4s;
  -o-transition: background-color 0.4s;
} */

.card-description {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(119, 114, 114, 0.158);
  font-family: "Prompt";
  font-size: 1.9rem;
  font-weight: 300;
  width: 65%;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

/* .card-description:hover {
  background-color: #53575348;
  font-weight: 400;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  cursor: pointer;
} */

.process-header-big {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  font-family: "Prompt";
  /* background-color: #55bb5870; */
  height: 90px;
  /* border-left: 15px solid #4caf4f; */
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin-bottom: 50px;
}

.processnum {
  display: flex;
  align-items: center;
  /* margin-bottom: 5px; */
}

.process-header {
  font-size: 2.5rem;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 6px;
  /* letter-spacing: 1px; */
  /* width: 50%; */
  /* text-align: center; */
  /* border-left: 6px solid #03a96b; */
}

.agency-name {
  display: flex;
  /* align-items: center; */
  width: 100%;
}

.process-header-agency {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 1px;
  background-color: #03a96c48;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  color: #000;
  font-family: "Prompt";
  height: 120%;
  display: flex;
  align-items: center;
  text-align: center;
  max-width: 82%;
}

.process-header-agency-name {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 1px;
  background-color: #03a96b;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  color: #fff;
  font-family: "Prompt";
  height: 120%;
  /*margin-left: 12px;
  */
  margin-right: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  /*width: 18%;
  */
  text-align: center;
}

.process-header-numprocess {
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 1px;
  background-color: #8da4c2ad;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  color: #000;
  font-family: "Prompt";
  height: 20px;
  /*margin-left: 12px;
  */
  margin-right: 2px;
  margin-left: 15px;
  margin-top: 12px;
  /*width: 18%;
  */
  text-align: center;
}

.slash-process {
  color: #252726;
  font-size: 4rem;
  position: relative;
  top: -12px;
  padding: 0 3px 0 3px;
}

.icon-goprocess {
  display: flex;
  justify-content: center;
  align-items: center;

  /* position: relative;
  top: 15px; */
}

.icon-goprocess-big {
  width: 30%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* display: flex; */
  /* align-items: center; */
}

.icon-goprocess-new {
  background-color: #03a96c9f;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 80%;
  width: 100%;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border: 1px solid #03a96b;
}

.icon-goprocess-new:hover {
  background-color: #03a96b;
  border: 0px solid #03a96b;
  cursor: pointer;
  /* font-size: 4rem; */
}

.icon-goprocess-big {
  /* display: flex; */
  /* align-items: center; */
}

.process-toinputfix {
  font-family: "Prompt";
  font-size: 1rem;
  color: #e4e6e5;
  font-size: 1.6rem;
  font-weight: 400;
}

#ionicon-arrow {
  color: #e4e6e5;
  font-size: 28px;
  margin-top: -2px;
}

.icon-goprocess:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #03a96b;
  /* box-shadow: 0px 0px 10px 0px rgba(10, 10, 10, 0.404); */
  /* border-right: 3px solid #4fbb4fb0; */
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  cursor: pointer;
}

/* ion-icon {
  color: blue;
} */

/* .ion-icon arrow-forward-circle-outline {
  color: blue;
} */

/* .bg-class-8 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.11), rgba(0, 0, 0, 0.116)),
    url(./screens/kuu.png);
} */

/* background-image: linear-gradient(#4caf4f07, #4caf4f33); */

/* *************************************************************************************
**************************************** PROCESS USER EDIT CREATE PAGE
*************************************************************************************/

.userscreen-fixinput {
  /* max-width: 100vw; */
  min-height: 100vh;
  padding-bottom: 3px;
  /* padding: 10px 20px 10px 20px; */
  background-color: #e4e6e5;
  /* border: none;
  border: 3px solid #03a96b; */
}

.inputfix-round {
  display: flex;
  margin-top: 20px;
  border-radius: 10px;
}

/* .card-number {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100% inherit;
  background-color: #8eaabd70;
  width: 18%;
  font-size: 6.5rem;
  font-weight: 500;
  border-left: 7px solid #535554;
  padding-left: 15px;
  padding-right: 15px;
}

.card-description {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #808a8059;
  font-family: "kanit";
  font-size: 3rem;
  font-weight: 100;
  width: 82%;
  text-align: center;
  padding: 10px;
} */

.card-inputfix-number {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100% inherit;
  background-color: #8eaabd70;
  /* background-color: rgba(255, 255, 255, 0.274); */
  width: 10%;
  font-size: 4.2rem;
  font-weight: 500;
  border-left: 6px solid #535554;
  padding-left: 15px;
  padding-right: 15px;
  font-family: "Prompt";
  font-weight: 400;
}

.card-inputfix-descrip {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgba(252, 246, 246, 0.37); */
  background-color: #808a8041;
  font-family: "Prompt";
  font-size: 1.8rem;
  font-weight: 300;
  width: 75%;
  text-align: center;
  padding: 18px;
  /* min-height: 100%; */
}

.card-inputfix-button {
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #808a8041;
  padding-right: 15px;
  /* height: 100%; */
  /* border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px; */
  /* background-color: #6c9ad6; */
}

.back-user {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a8c0cf00;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  /* position: absolute; */
  /* top: 30px;
  left: 80px; */
  font-size: 1.3rem;
  font-family: "Prompt";
  border: 1px solid #6fd351a6;
  font-weight: 400;
  margin-top: 15%;
  margin-left: 15%;
  /* position: relative; */
}

.back-user:hover {
  background-color: #42bb567a;
  border: 0;
  cursor: pointer;
  font-weight: 500;
}

.btn-add {
  font-family: "Prompt";
  font-size: 1.6rem;
  font-weight: 400;
  height: 70%;
  width: 60%;
  color: "#e4e6e5";
  border: 0;
  background-color: #8da4c2;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.btn-edit {
  font-family: "Prompt";
  font-size: 1.6rem;
  font-weight: 400;
  height: 70%;
  width: 60%;
  color: "#e4e6e5";
  border: 0;
  background-color: #7d914618;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin-left: 2px;
}

.btn-edit:hover {
  background-color: #03a96b;
}

.btn-add:hover {
  background-color: #2f71c29c;
}

.input-header-big {
  display: flex;
  margin-top: 35px;
  margin-bottom: 35px;
}

.input-header-big-input {
  font-family: "Prompt";
  font-weight: 500;
  font-size: 2.8rem;
}

#create-edit {
  margin: -2px 0 0 0;
  padding: 0;
  color: #03a96cd8;
}

.slash {
  color: #03a96b;
  font-size: 4rem;
  position: relative;
  top: 3px;
}

.btn-recommence {
  display: flex;
  align-items: center;
  margin-top: 6px;
}

.background-inputfix {
  background: #bfc7c33d;
  width: 100%;
  height: 100% inherit;
  padding: 30px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  /*border: 2px solid #34495e;
  */
  box-shadow: 0px 0px 10px 0px rgba(10, 10, 10, 0.404);
  margin-bottom: 30px;
}

.add-word {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  background-color: #03a96cfd;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin: 2px 0px 0 12px;
  font-weight: 400;
  font-family: "Prompt";
  color: #e4e6e5;
}

.edit-word {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  /* background-color: #03a96cfd; */
  /* background-color: rgba(255, 255, 255, 0.822); */
  background-color: #2f3337d7;
  width: 80px;
  height: 30px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin: 2px 6px 0 0px;
  font-weight: 600;
  color: #fff;
}

.head-inputfixed {
  display: flex;
}

.back-user-small {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-top: 45px;
  margin-left: 15px;
}

.back-and-inputfix {
  display: flex;
  /* width: 100%; */
  justify-content: space-between;
}

#back-icon {
  margin: 0;
  padding: 0;
  margin-top: 3px;
  font-size: 24px;
  color: #35523c;
  --ionicon-stroke-width: 18px;
}

#back-icon-hide {
  margin: 0;
  padding: 0;
  margin-top: 3px;
  font-size: 0px;
  color: #35523c;
  --ionicon-stroke-width: 18px;
  visibility: hidden;
  color: rgba(49, 43, 43, 0.63);
}

.btn-back:hover {
  background-color: #1f9b5d56;
}

.btn-back {
  width: 100px;
  height: 33px;
  border: 1px solid #54c28be7;
  display: flex;
  justify-content: center;
  flex-direction: row;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  cursor: pointer;
}

.back-word {
  display: flex;
  align-items: center;
  font-family: "Prompt";
  font-size: 1.3rem;
}

.no-border {
  /* border-width: 0; */
  /* border: 6px solid #000; */
  /* margin: 0 -2px -2px 0; */
  margin: 0 1px -2px 0;
}

/* .row > div {
  border: blank;
  border-left-width: 0;
  border-left-width: 0;
  flex: 1;
  background: lightgrey;
  border: 3px solid #000;
} */

/* ******************************** Footer*************************** */
.footer-last {
  background-color: #26292567;
  height: 60px;
  font-family: "Prompt";
  font-size: 1.6rem;
  letter-spacing: 0.5px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #7679777e;
  /* padding-top: 60px; */
}

.spacebuttom {
  background-color: #26292567;
  width: 100vw;
  height: 60px;
}

.footer-last-bottom {
  background-color: #26292567;
  height: 60px;
  font-family: "Prompt";
  font-size: 1.6rem;
  letter-spacing: 0.5px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #7679777e;
  /* padding-top: 60px; */
}

.footer-last {
  visibility: hidden;
}

******************************************************* Test table react superResponsive
/* inspired by: https://css-tricks.com/responsive-data-tables/ */
.responsiveTable {
  width: 100%;
}

.responsiveTable td .tdBefore {
  display: none;
}

/* inspired by: https://css-tricks.com/responsive-data-tables/ */
.responsiveTable {
  width: 100%;
}

.responsiveTable td .tdBefore {
  display: none;
}

@media screen and (max-width: 40em) {
  /*
    Force table elements to not behave like tables anymore
    Hide table headers (but not display: none;, for accessibility)
  */

  .responsiveTable table,
  .responsiveTable thead,
  .responsiveTable tbody,
  .responsiveTable th,
  .responsiveTable td,
  .responsiveTable tr {
    display: block;
  }

  .responsiveTable thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
    border-bottom: 2px solid #333;
  }

  .responsiveTable tbody tr {
    box-shadow: 0px 0px 5px 0px rgba(10, 10, 10, 0.432);
    border: 0px;
    border-top: 3px solid #2f3337;
    /*border: 0px;
    */
    padding: 0em;
    /*สีพื้นหลัง*/
    background-color: #ffffff23;
    /*color: #03a948;
    */
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
  }

  .responsiveTable td.pivoted {
    /* Behave like a "row" */
    border: none !important;
    position: relative;
    padding-left: calc(50% + 10px) !important;
    text-align: left !important;
    white-space: pre-wrap;
    overflow-wrap: break-word;
  }

  .responsiveTable td .tdBefore {
    /* Now like a table header */
    position: absolute;
    display: block;

    /* Top/left values mimic padding */
    left: 1rem;
    width: calc(50% - 20px);
    white-space: pre-wrap;
    overflow-wrap: break-word;
    text-align: left !important;
    font-weight: 600;
  }
}

/* ******************************** pagination **********************************/
.pagination-big {
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  /* background-color: #006765; */
}

.total-user {
  font-family: "Prompt";
  font-size: 1.5rem;
  width: 15%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2f333757;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  color: #000;
}

.pagination {
  font-family: "Prompt";
  font-size: 1.4rem;
  margin: 15px auto;
  display: flex;
  justify-content: flex-end;
  list-style: none;
  outline: none;
  width: 100%;
}
/* .pagination > .active > a {
  background-color: #000;
  border-color: #20bd3a;
  color: #fff;
} */
.pagination > li > a {
  border: 0px solid blue;
  padding: 5px 11px;
  outline: none;
  cursor: pointer;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #47ccded2;
  /* border-color: #000; */
  outline: none;
}
.pagination > li > a,
.pagination > li > span {
  color: #47ccde;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-radius: unset;
}
