@media only screen and (max-width: 1100px) {
  .total-user {
    font-family: "Prompt";
    font-size: 1.2rem;
    width: 17%;
    height: 30px;
  }

  th {
    font-size: 1.4rem;
  }

  .icon-goprocess-new {
    display: flex;
    flex-direction: column;
  }

  .ionicon-arrow {
    font-size: 21px;
  }
  /* .process-header {
    font-size: 2rem;
  } */
}

@media only screen and (max-width: 991px) {
  .left-container {
    visibility: hidden;
    height: 0%;
    width: 0%;
  }

  .background-tableuser {
    margin-top: 80px;
  }

  tbody td {
    font-size: 1.2rem;
  }

  th {
    font-size: 1.3rem;
  }

  .total-user {
    margin-top: 10px;
  }

  .label-in-role {
    font-family: "Prompt";
    font-size: 1rem;
    font-weight: 500;
    width: 75px;
    height: 25px;
  }

  #btnSuccess {
    font-size: 1.7rem;
    font-weight: 500;
    width: 100%;
    height: 80%;
  }

  .adduser-head {
    margin-top: 30px;
    margin-bottom: 25px;
  }

  .div-alert {
    margin-bottom: 10px;
  }

  .pageAddUser {
    margin-top: 80px;
  }

  #input-field-adduser {
    background-color: #e4e6e573;
    font-size: 1.4rem;
    font-family: "Prompt";
    font-weight: 300;
  }

  #adduser-top {
    padding-top: 20px;
  }

  .right-container {
    height: 100%;
  }

  .right-section {
    position: relative;
    top: 5%;
    bottom: 5%;
    left: 11%;
    right: 11%;
    width: 78%;
    height: 90%;
    background-color: #e4e6e5e5;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
  }

  .adduser-head-role {
    font-size: 1.2rem;
    font-weight: 500;
    font-family: "Prompt";
    margin-left: 3px;
    color: #fff;
    margin-top: -12px;
    margin-bottom: 20px;
    text-align: center;
    letter-spacing: 1px;
    width: 30%;
    height: 25px;
  }

  /* .footer-grid .footer-last {
    height: 0;
  } */

  /* .edit-modal {
    visibility: hidden;
  } */

  /* #signupPage {
    visibility: hidden;
  } */
}

@media only screen and (max-width: 769px) {
  .logout-user {
    display: flex;
    /* flex-direction: column; */
  }

  #correct-modal {
    font-size: 5rem;
    margin-right: 5px;
    margin-top: -5px;
    color: #03a91fa8;
    --ionicon-stroke-width: 70px;
  }

  tbody td {
    font-size: 1.2rem;
  }

  .total-user {
    font-family: "Prompt";
    font-size: 1.1rem;
    width: 20%;
    height: 30px;
  }

  th {
    font-size: 1.3rem;
  }

  .btn-table-head {
    font-size: 1.1rem;
  }

  .head-admin-welcome {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  #btnSuccess {
    font-size: 1.6rem;
    font-weight: 500;
    width: 100%;
    height: 80%;
  }

  .background-tableuser {
    margin-top: 0px;
    margin-left: 0px;
  }

  .label-in-role {
    font-family: "Prompt";
    font-size: 0.8rem;
    font-weight: 500;
    width: 58px;
    height: 20px;
    margin-right: 3px;
  }

  .adduser-head-role {
    font-size: 1rem;
    font-weight: 500;
    font-family: "Prompt";
    margin-left: 3px;
    color: #fff;
    margin-top: -12px;
    margin-bottom: 20px;
    text-align: center;
    letter-spacing: 1px;
    width: 40%;
    height: 25px;
  }

  #input-field-adduser {
    background-color: #e4e6e573;
    font-size: 1.4rem;
    font-family: "Prompt";
    font-weight: 300;
    height: 42px;
  }

  #rolee {
    width: 50%;
  }

  .role-option {
    width: 50%;
    position: relative;
    left: 6px;
  }

  .backlogout {
    width: 0;
    height: 0;
    margin: 0 0 0 0;
    border: 0px;
  }

  .goadminword,
  .goadminword-admin {
    font-size: 0;
    /* padding: 0 0 0 0; */
  }

  .p-logout {
    font-size: 0px;
  }

  .pageAddUser {
    /* margin-top: 5.2%; */
    margin-top: 100px;
  }

  #success-icon,
  #warning-icon {
    margin-right: 1px;
    margin-top: -1px;
    font-size: 3.9rem;
  }

  .in-alert-adduser {
    margin-top: 2.4%;
    margin-bottom: 2%;
  }
  .role {
    margin-bottom: 0%;
  }

  .adduser-header {
    margin-bottom: 0px;
    /* margin-top: 0px; */
    /* font-size: 3rem; */
  }

  .adduser-head {
    font-size: 3rem;
    font-weight: 800;
    font-family: "Prompt";
    /* margin-bottom: 5%;
    margin-top: 4.5%; */
    margin-top: 20px;
    margin-bottom: 25px;
    text-align: center;
    letter-spacing: 1px;
  }

  /* แก้ฟ้อนให้ไอแพคเก่าแนวตั้ง */
  .field-description-input-edit {
    font-size: 1.3rem;
    margin-right: 4%;
    width: 45%;
  }

  #input-field-adduser-modal {
    font-size: 1.3rem;
    height: 35px;
    border-radius: 8px;
    padding-left: 20px;
    width: 90%;
  }

  .head-userpage {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .user-welcomee {
    color: #fff;
    font-size: 1.9rem;
    font-family: "Prompt";
    font-weight: 300;
  }

  .adduser-head-table {
    font-size: 3.3rem;
    font-weight: 800;
    font-family: "Prompt";
    margin-top: 20px;
    margin-bottom: 35px;
    text-align: center;
    letter-spacing: 1px;
  }

  .user-welcomee-name {
    color: #fff;
    font-size: 1.4rem;
    font-family: "Prompt";
    font-weight: 200;
    margin: 0 0 0 0;
    /* margin-top: 1px; */
    /* margin-left: 8px; */
  }

  /* .head-admin-welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
  } */

  .img-ku-small {
    width: 0;
    height: 0;
    margin-right: 0%;
  }

  .welcome-name {
    margin: 0 0 0 0;
  }

  .btn-add,
  .btn-edit {
    font-size: 1rem;
  }

  .input-header-big-input {
    font-size: 2.3rem;
  }

  .processnum {
    display: flex;
    flex-direction: column;
  }

  .process-header-numprocess {
    margin-top: 0;
    font-size: 1.3rem;
  }

  .agency-name {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  .process-header-agency,
  .process-header-agency-name {
    font-size: 1.3rem;
  }

  .edit-page-all {
    margin-top: 20%;
  }

  /* .backAdmin { ตอนแรกไอแพไม่มี
    width: 0px;
    height: 0%;
    visibility: hidden;
  } */

  /* .leftt,
  .rightt {
    visibility: hidden;
  } */
}

/* เอาไว้แก้แค่ไอแพด มันเจอบาร์แอดมินจัดเป๋นคอลัม */
@media only screen and (width: 768px) {
  .background-tableuser {
    margin-top: 80px;
  }

  th {
    font-size: 1.1rem;
  }

  .total-user {
    margin-top: 10px;
  }

  tbody td {
    font-size: 1.1rem;
  }
}

@media only screen and (max-width: 640px) {
  .background-tableuser {
    margin-top: 40px;
  }

  #index-no {
    font-size: 2rem;
  }

  .adduser-head-table {
    font-size: 3.5rem;
    font-weight: 800;
    font-family: "Prompt";
    margin-top: 10px;
    margin-bottom: 35px;
    text-align: center;
    letter-spacing: 1px;
  }

  tbody th {
    /* background-color: #03a96ca1; */
    background: -webkit-linear-gradient(bottom, #03a96cb4, #03a96c73);
  }

  tbody td {
    font-family: "Prompt";
    font-weight: 300;
    font-size: 1.7rem;
  }

  .role-in-table {
    border-radius: 8px;
    font-size: 1.3rem;
    font-weight: 500;
    width: 80px;
    padding: 5px 0px 5px 0px;
    color: #000;
    display: flex;
    justify-content: center;
  }

  .pagination {
    font-family: "Prompt";
    font-size: 1.4rem;
    margin: 15px auto;
    display: flex;
    justify-content: flex-start;
    list-style: none;
    outline: none;
    width: 100%;
  }

  .pagination-big {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .total-user {
    font-size: 1.4rem;
    width: 40%;
    height: 26px;
    background-color: #2f333757;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-top: 8px;
    margin-bottom: 5px;
  }
}

@media only screen and (max-width: 575px) {
  .img-ku-small {
    width: 0px;
    height: 0px;
    /* margin-right: 9px; */
  }

  /* .head-admin-welcome {
    display: flex;
    flex-direction: column;
    text-align: center;
  } */

  .edit-page-all {
    margin-top: 30%;
  }

  .filed-input-adduser-modal {
    display: flex;
    flex-direction: column;
    margin-bottom: 3%;
  }

  #input-field-adduser-modal {
    background-color: #e4e6e573;
    font-size: 1.4rem;
    font-family: "Prompt";
    font-weight: 300;
    height: 33px;
    padding-left: 20px;
    width: 100%;
    border: 1px solid #6366653b;
  }

  .error-helptext-modal-edit {
    margin-bottom: 0px;
  }

  .extra-status {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .status-switch {
    margin-top: 3px;
    margin-bottom: 10px;
  }

  .adduser-head-role {
    font-size: 1.1rem;
    font-weight: 500;
    font-family: "Prompt";
    margin-left: 3px;
    color: #fff;
    margin-top: -15px;
    margin-bottom: 20px;
    text-align: center;
    letter-spacing: 1px;
    width: 60%;
    height: 20px;
  }

  .pageAddUser {
    margin-top: 50px;
  }

  .background-adduser {
    margin-left: 0px;
    margin-top: 60px;
  }

  .adduser-head-table {
    font-size: 3.5rem;
  }

  .adduser-header {
    display: flex;
    justify-content: center;
    border-radius: 2px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
  }

  .adduser-head {
    font-size: 3.1rem;
    font-weight: 800;
    font-family: "Prompt";
    margin-top: 20px;
    margin-bottom: 25px;
    text-align: center;
    letter-spacing: 1px;
  }

  .label-in-role {
    font-family: "Prompt";
    font-size: 0.8rem;
    font-weight: 500;
    width: 58px;
    height: 20px;
    margin-right: 3px;
  }

  #input-field-adduser {
    background-color: #e4e6e573;
    font-size: 1.2rem;
    font-family: "Prompt";
    font-weight: 300;
    height: 39px;
  }

  .field-description-input {
    font-size: 1.5rem;
  }

  .backAdmin {
    width: 0px;
    height: 0%;
    visibility: hidden;
  }

  #icon-in-list {
    position: relative;
    left: 0px;
  }

  #mix-function {
    padding: 10px 18px 0px 18px;
    /* background-color: #03a96b; */
  }

  /* .img-ku-small {
    width: 0%;
    height: 0%;
    margin-right: 0%;
  } */
  .welcome-name {
    color: "#fff";
    font-size: 1.4rem;
    font-family: "kanit";
    font-weight: 200;
    margin: 0 0 0 0;
  }

  .welcome-admin {
    color: "#fff";
    font-size: 2rem;
    font-family: "kanit";
    font-weight: 400;
  }

  .p-logout {
    visibility: hidden;
  }

  .head-userpage {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .user-welcomee {
    color: #fff;
    font-size: 1.8rem;
    font-family: "Prompt";
    font-weight: 400;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
  }

  .user-welcomee-name {
    color: #fff;
    font-size: 1.4rem;
    font-family: "kanit";
    font-weight: 200;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    /* margin-top: 1px; */
    /* margin-left: 8px; */
  }
  /* 
  .backlogout {
    width: 0;
    height: 0;
    margin: 0 0 0 0;
    border: 0px;
  } */

  /* .goadminword,
  .goadminword-admin {
    font-size: 0;
  } */

  .admin-word-nav-user {
    margin-bottom: 4px;
  }

  .process-round {
    display: block;
    /* margin: 20px 20px 20px 20px; */
  }

  .process-round:first-child {
    margin-top: 0px;
  }

  #ionicon-arrow {
    font-size: 50px;
  }

  .card-number {
    width: 100%;
    font-size: 4.3rem;
    font-weight: 400;
    border-left: 0;
    /* background-color: #2f333733; */
    background: linear-gradient(#808a8069, #2f333728);
    padding: 0;
    border-top: 5px solid #535554;
  }

  .icon-goprocess {
    border-bottom: 7px solid #535554;
    margin-top: 0px;
    padding-bottom: 5px;
  }

  .card-description {
    width: 100%;
    font-size: 1.9rem;
    font-weight: 400;
    background-color: rgba(245, 228, 228, 0.616);
    /* background-color: #8da4c277; */
  }

  .process-header-agency {
    font-size: 1.5rem;
  }

  .process-header-big {
    margin-top: 10px;
    margin-bottom: 30px;
  }

  .process-header {
    font-size: 2.2rem;
  }

  .inputfix-round {
    display: block;
    /* margin-top: 20px;
    border-radius: 10px; */
  }

  .card-inputfix-number {
    border-left: 0;
    border-top: 5px solid #535554;
    width: 100%;
    background: linear-gradient(#8eaabdbe, #8eaabd52);
  }

  .card-inputfix-descrip {
    width: 100%;
    font-size: 1.9rem;
    font-weight: 400;
  }

  .card-inputfix-button {
    padding-right: 0;
    width: 100%;
  }

  .btn-edit {
    background-color: #7d9146a4;
  }

  .background-inputfix {
    padding: 20px;
    margin-bottom: 20px;
  }

  .userscreen-fixinput {
    padding: 10px 20px 10px 20px;
  }

  .btn-add,
  .btn-edit {
    font-size: 1.3rem;
  }

  .inputfix-round:first-child {
    margin-top: 0px;
  }

  .footer-last-bottom {
    visibility: visible;
    font-size: 1.1rem;
    text-align: center;
    height: 50px;
  }

  .input-header-big {
    font-size: 1.8rem;
    display: block;
    text-align: center;
    margin-top: 13px;
    margin-bottom: 16px;
  }

  .btn-recommence {
    align-items: center;
    justify-content: center;
    margin-top: 5px;
  }

  .edit-word,
  .add-word {
    font-size: 1.4rem;
    width: 100px;
  }

  .back-user-small {
    display: flex;
    flex-direction: column;
    margin: 0;
    /* **************************************เผื่อใช้**** */
    /* margin-top: 5px;
    margin-left: 10px; */
    padding-top: 5px;
    padding-left: 10px;
  }

  .btn-back {
    width: 40px;
    height: 100%;
    border: 0px;
    display: flex;
    cursor: pointer;
  }

  .back-word {
    font-size: 0rem;
  }

  #back-icon {
    font-size: 38px;
  }

  .back-section {
    visibility: hidden;
    height: 0px;
    width: 0px;
  }

  #back-icon-hide {
    font-size: 3rem;
    visibility: visible;
    position: relative;
    top: -5px;
    left: 15px;
    font-size: 37px;
    color: #35523c;
    --ionicon-stroke-width: 18px;
    color: rgba(49, 43, 43, 0.63);
  }

  .input-header-big-input {
    margin-left: -15px;
    margin-top: 5px;
    font-size: 2.2rem;
  }

  .slash {
    color: #03a96b;
    font-size: 0rem;
    position: relative;
    top: 0px;
    visibility: hidden;
  }

  .admin-word-nav-user {
    margin-left: 0px;
    margin-top: 2px;
  }

  .icon-goprocess-big {
    width: 100%;
  }

  #ionicon-arrow {
    font-size: 20px;
    /* margin-top: -2px; */
  }

  .icon-goprocess-new {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    background-color: #03a96b;
  }

  .process-header {
    font-size: 2.2rem;
  }

  #success-icon,
  #warning-icon {
    margin-right: 1px;
    margin-top: -1px;
    font-size: 3.9rem;
  }

  .process-header-agency-name {
    font-size: 0rem;
    font-weight: 400;
    letter-spacing: 1px;
    background-color: none;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    padding: 0;
    color: none;
    height: 0%;
    margin-right: 0px;
  }

  .background-inputfix {
    margin-top: 40px;
  }

  .table-user {
    /* margin: 0 0 0 0; */
    /* margin-left: 20%; */
    /* margin-right: 3%; */
    /* margin: 3% 3% 3% 3%; */
  }
}

@media only screen and (width: 540px) {
  .edit-page-all {
    margin-top: 15%;
  }
}

@media only screen and (max-width: 420px) {
  .welcome-head-userpage {
    font-weight: 200;
    font-family: "kanit";
    font-size: 1.6rem;
    color: #fff;
  }

  #adduser-top {
    padding-top: 20px;
  }

  /* .head-admin-welcome {
    display: flex;
    flex-direction: column;
    text-align: center;
  } */

  .adduser-head-table {
    font-size: 3.5rem;
  }

  #btnSuccess {
    font-size: 1.5rem;
    width: 100%;
    height: 80%;
  }

  /* .adduser-head {
    font-size: 3.1rem;
    font-weight: 800;
    font-family: "Prompt";
    margin-top: 20px;
    margin-bottom: 25px;
    text-align: center;
    letter-spacing: 1px;
  } */

  .filed-input-adduser-alert {
    width: 80%;
    height: 30px;
    margin-bottom: 3%;
    font-size: 1.3rem;
    font-family: "Prompt";
    font-weight: 400;
  }

  #input-field-adduser {
    height: 37px;
  }

  #success-icon,
  #warning-icon {
    margin-right: 1px;
    margin-top: -1px;
    font-size: 3rem;
  }

  .role-option {
    margin-top: 6px;
    margin-bottom: 13px;
    /* text-align: end; */
  }

  .label-in-role {
    font-family: "Prompt";
    font-size: 0.7rem;
    font-weight: 500;
    width: 55px;
    height: 15px;
    margin-right: 3px;
  }

  .field-description-input {
    margin-bottom: 4px;
    margin-left: 10px;
  }

  .pageAddUser {
    margin-top: 40px;
  }

  .name-and-phone {
    display: flex;
    flex-direction: column;
    justify-content: none;
    /* width: 100%; */
  }

  .username-and-password {
    display: flex;
    flex-direction: column;
    justify-content: none;
  }

  .role-and-role {
    display: flex;
    flex-direction: column;
  }

  .role-description {
    width: 100%;
  }

  #rolee {
    width: 100%;
  }

  #inName {
    width: 100%;
    margin-right: 0px;
  }

  #inPhone {
    width: 100%;
  }

  #inUsername {
    width: 100%;
    margin-right: 0px;
  }

  #inPassword {
    width: 100%;
  }

  .background-adduser {
    /* background: #c1c9c5; */
    background-color: rgba(255, 255, 255, 0.397);
    box-shadow: 0px 0px 7px 0px rgba(10, 10, 10, 0.178);
    width: 100%;
    height: 100% inherit;
    margin-left: 0px;
    padding: 10px;
  }

  .welcome-admin {
    font-size: 1.6rem;
  }

  .field-description-input {
    width: 70%;
    font-size: 1.4rem;
  }

  .field-description-input-edit {
    width: 70%;
    font-size: 1.4rem;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .adduser-head {
    font-size: 2.5rem;
    /* margin-bottom: 10%; */
  }

  .filed-input-adduser {
    display: flex;
    flex-direction: column;
    /* width: 90%; */
  }

  .name,
  .phone,
  .username,
  .password,
  .agency,
  .role {
    width: 90%;
    margin-left: 3%;
    /* display: flex;
    justify-items: end; */
  }

  /* .background-img-adduser {
    position: fixed;
  } */

  .adduser-head {
    /* margin-bottom: 4%;
    margin-top: 7%; */
  }

  ion-icon {
    font-size: 2rem;
    margin-top: 7%;
  }

  .backAdmin {
    width: 0px;
    height: 0%;
    visibility: hidden;
  }

  .process-header {
    margin-top: 20px;
  }

  /* .img-right {
    visibility: hidden;
    height: 0;
    width: 0;
  }

  .background-img-adduser {
    height: 0;
    width: 0;
  } */

  /* .logout-user {
    margin-left: -18px;
  } */
}

@media only screen and (max-width: 321px) {
  .edit-page-all {
    margin-top: 10%;
  }

  .user-welcomee {
    /* margin: 0 0 0 0; */
    font-size: 1.5rem;
  }

  .user-welcomee-name {
    /* margin: 0 0 0 0; */
    font-size: 1.3rem;
  }

  .process-header-agency {
    font-size: 1.3rem;
  }

  .adduser-head {
    font-size: 2rem;
    /* margin-bottom: 10%; */
  }

  .adduser-head-table {
    font-size: 2.9rem;
  }

  /* .process-header {
      font-size: 1.8rem;
    } */

  .card-number {
    font-size: 4.5rem;
  }

  .card-description {
    font-size: 2.1rem;
  }

  .tableuser-page {
    margin: 10% 3% 3% 3%; /* ปรับไปแค่บนล่าง*/
    background-color: "#E4E6E5";
    height: 100%;
  }

  /* .field-description-input-edit {
    font-family: "kanit";
    font-size: 1.7rem;
    width: 60%;
    margin-left: 7%;
  } */
  /* .img-right {
    visibility: hidden;
    height: 0;
    width: 0;
  }

  .background-img-adduser {
    height: 0;
    width: 0;
  } */
}
